* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  a {
    text-decoration: none;
    color: white;
    font-family: "kodchasan";
  }
  
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: auto;
    background-color: rgb(28, 29, 32);
    color: white;
  }
  
  /* Nav bar */

  a{
    text-decoration: none;
    color: white;
  }
  
  a:hover{
  color: red;
  }
  
  header{
  position: relative;
  padding: 0.2rem;
  background-color: rgb(31, 30, 30);
  }
  
  .navbar {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 200px;

  }
  

  
.search-container {
  position: relative;
  width: 70%;
  display: flex;
  
  align-items: center;
}

#search-bar {
  width: 100%;
  height: 100%;
  padding: 8px;
 
 
  padding-right: 30px;
}

#clear-search {
  position: absolute;
  right: 10;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: none; /* Caché par défaut */
}

.suggestion-box {
  position: absolute;
  width: 100%;
  background: white;

  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  top: 35px;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}

#clear-search {
  background: none;
  border: none;
  font-size: 20px;
  color: black; /* X en noir */
  cursor: pointer;
  margin-bottom: 12px;
}


.sign{
  display: flex;
  align-items: center;
  width: 100px;
  padding: 20px;
  gap: 70Px;
  
} 

 /*second nav*/

.secondnav{
    width: 100%;
  
    height: 100px;
    
    display: flex;
    align-items: center;
    gap: 200px;
    border: 10px;
    
    
}

h1 {
  padding-left: 100%;
  color: red;

}

.nav{
  
  display: flex;
  gap: 30px;
  margin-left: 50%;
}

.content{
  margin-top: 10Px;
}


.type {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #e5222e;
  color: #fff;
  text-transform: capitalize;
  font-size: 19px;
}

.catégorie{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 
  40px;
}


footer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: #111;
}

.footerContainer {
  width: 100%;
padding-top: 1px;
  background-color: #212529;
}

.socialIcons {
  display: flex;
  justify-content: center;

}

.socialIcons a {
  text-decoration: none;
  padding: 9px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: #000;
  padding: 25px;
  text-align: center;
}

.footerBottom p {
  color: white;
}


.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width:990px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin:10px;
  }


  @media (max-width:599px) {
    .footerNav ul {
      flex-direction: column;
    }
    .footerNav ul li {
      width: 100%;
      text-align: center;
      margin:10px;
    }
  }
}
